# Auto detect text files and perform LF normalization
* text=auto
ios/Features/Masonry/Libs/Masonry.framework/Masonry filter=lfs diff=lfs merge=lfs -text
ios/Features/Video/Libs/IJKMediaFrameworkWithSSL.framework/IJKMediaFrameworkWithSSL filter=lfs diff=lfs merge=lfs -text
ios/Features/Video/Libs/DCUniVideoPublic.framework/DCUniVideoPublic filter=lfs diff=lfs merge=lfs -text
ios/Features/Video/Libs/libDCUniVideo.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Video/Libs/liblibVideo.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Core/Libs/liblibPDRCore.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Core/Libs/liblibWeex.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Camera&Gallery/Libs/liblibCamera.a filter=lfs diff=lfs merge=lfs -text
ios/Features/LivePusher/Libs/UPLiveSDKDll.framework/UPLiveSDKDll filter=lfs diff=lfs merge=lfs -text
ios/Features/LivePusher/Libs/libDCUniGPUImage.a filter=lfs diff=lfs merge=lfs -text
ios/Features/LivePusher/Libs/liblibLivePush.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Speech/Baidu/Libs/libBaiduSpeechSDK.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Barcode/Libs/libDCUniZXing.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Audio/Libs/libopencore-amrnb.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Audio/Libs/libmp3lame.a filter=lfs diff=lfs merge=lfs -text
ios/Features/Canvas/Libs/libDCUniCanvas.a filter=lfs diff=lfs merge=lfs -text
